name: Test

on:
  push:
    branches: [main, feat/**]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.23.4"

      - name: Install dependencies
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@latest
          go mod download

      - name: Run tests
        run: ginkgo -r --race --cover

      - name: Run linters
        uses: golangci/golangci-lint-action@9fae48acfc02a90574d7c304a1758ef9895495fa # v7.0.1
        with:
          version: latest

      - name: Verify modules
        run: go mod verify
